@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

*, *::before, *::after{
    padding: 0; margin:0; box-sizing: border-box;
}

body{
    display: flex; justify-content: center; align-items: center;  min-height:100vh;
    background-color: #171717;
    font-family: 'Krub', sans-serif;
}

.profile-container{
    position: relative;
    width: 60rem; height: 40rem;
    display: flex; justify-content: center; align-items: center;
}

.profile-card{
    position: absolute; top: 2.5rem; left: 5.5rem; margin: auto;
    width:20rem; height:35rem;
    background: url('https://i.pinimg.com/564x/b0/42/3a/b0423a16c86bfe01c059005ff002914f.jpg'); background-position: center;
    background-repeat: no-repeat; background-size: cover;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; animation: none;
}

.profile-card::before{
    content: '';
    position: absolute; left: 4.4rem; margin-top: 1rem;
    color: white; font-size: 1.5rem;
}

.links{
    position: absolute; bottom: 11rem; margin-left: 1rem;
    display: flex; flex-direction: column; gap: 2rem;
    width: 1rem; height: 5rem;
    animation: fadeIn 5s;
}

.links a{ color: crimson; }

.about-me{
    position: absolute;
    width: 55rem; height: 27rem; 
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2); background-color: #fff; z-index: -1;
    animation: mymove 2s; 
}

.info{
    position: absolute; top: 2.5rem; right: 3rem;
    width: 25rem; height: 20rem;
    font-size: 1rem;  color: #000;
    animation: fadeIn 3s ease-in;
}

.info::before{
    content:'ABOUT ME';
    color:#ca0e3a; font-size:20px;
    animation: fadeIn 3s ease-in;
}
.info::after{
    content:'- JALEEL BENNETT';
    position: absolute; right: 0;
    color: #5c3ce0; font-size: 20px;
    animation: fadeIn 3s ease-in;
}

.close-button{
    position: absolute; right: 1.5rem; top: 0.5rem;
    display: none;
}

#bar1,#bar2{
    position: absolute; width: 2px; height: 30px;
    background-color: #151515; 
}

#bar1{ transform: rotate(45deg); }
#bar2{ transform: rotate(-45deg); }

/* Animations */

@keyframes mymove {
    from {left: 0;}
    to {left: 2.55rem;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

 /* Media Queries */
 @media only screen and (min-width: 481px) and (max-width: 1024px){
    
    .profile-container{ 
        width: 30rem; height: 37rem;
        margin-left: auto; margin-right: auto;
    }

    .profile-card{ 
        position: absolute; left: auto; top: auto;
        width: 27rem; height: 35rem;
        z-index: 1;  animation: none; 
    } 
    
    .about-me{ 
        position: absolute; width: 27rem; height: 35rem; 
        animation: none;
    }

    .info{ 
        position:absolute; left: auto; top: auto; top: 5rem;
        width:20rem; height: 27rem; display: grid; place-items: center;
        font-size: 16px;
    }

    .about-me::before{
        content:'ABOUT ME'; position: absolute; 
        left: 3.5rem; right: 1.5rem; top: 4rem;
        color: crimson; font-size: large; font-weight: 600;
    }

    .close-button{display: block;}
    .info::before{display: none;}
    .info::after{ bottom: 0;}
    
 }

 @media only screen and (min-width: 321px) and (max-width: 480px) {

    .profile-container{ 
        width: 25rem; height: 35rem;
        margin-left: auto; margin-right: auto; 
    }

    .profile-card{ 
        position: absolute; left: auto;  
        width: 20rem; height: 30rem; 
        z-index: 1;  animation: none; 
    } 
    
    .about-me{ 
        position: absolute; 
        width: 20rem; height: 30rem; 
        animation: none; 
    }

    .about-me::before{
        content:'ABOUT ME'; position: absolute; 
        left: 2.5rem; right: 1.5rem; top: 2.5rem;
        color: crimson; font-size: large; font-weight: 600;
    }

    .info{
        position:absolute; left: 2.5rem; right: 1.5rem; top: 2.5rem;
        width:15rem; height: 25rem; display: grid; place-items: center;
        font-size: 13px;
    }

    .close-button{display: block;}
    .info::before{display: none;}
    .info::after{ bottom: 0;}
 }

 /* iphone se */
 @media only screen and (min-width: 320px){
    .profile-container{ 
        width: 20rem; height: 30rem;
        margin-left: auto; margin-right: auto; 
    }

    .profile-card{ 
        position: absolute; left: auto;  
        width: 15rem; height: 25rem; 
        z-index: 1;  animation: none; 
    } 
    
    .about-me{ 
        position: absolute; 
        width: 15rem; height: 25rem; 
        animation: none; 
    }

    .about-me::before{
        content:'ABOUT ME'; position: absolute; 
        left: 2.5rem; right: 1.5rem; top: 2.5rem;
        color: crimson; font-size: large; font-weight: 600; font-size: 13px;
    }

    .info{
        position:absolute; left: 2.5rem; right: 1.5rem; top: 2.5rem;
        width:15rem; height: 25rem; display: grid; place-items: center;
        font-size: 10px;
    }

    .close-button{display: block;}
    .info::before{display: none;}
    .info::after{ bottom: 0; font-size: 13px;}
 }