@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

*, *::before, *::after{
    padding: 0; margin:0; box-sizing: border-box;
}

body{
    display: flex; justify-content: center; align-items: center;  min-height:100vh;
    background: linear-gradient(#ca0e3a, #5c3ce0) no-repeat; 
    font-family: 'Krub', sans-serif;
}

.profile-container{
    position: relative;
    width: 60rem; height: 40rem;
    display: flex; justify-content: center; align-items: center;
}

.profile-card{
    position: absolute; top: 2.5rem; left: 5.5rem; margin: auto;
    width:20rem; height:35rem;
    background: url('https://i.pinimg.com/564x/b0/42/3a/b0423a16c86bfe01c059005ff002914f.jpg'); background-position: center;
    background-repeat: no-repeat; background-size: cover;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; animation: fadeInDown 3s;
}

.profile-card::before{
    content: 'JALEEL BENNETT';
    position: absolute; left: 4.4rem; margin-top: 1rem;
    width: 20rem; height: 35rem;
    color: white; font-size: 1.5rem;
}

.links{
    position: absolute; bottom: 8rem; margin-left: 1rem;
    display: flex; flex-direction: column; gap: 2rem;
    width: 1rem; height: 3rem;
}

.links a{ color: white; }

.about-me{
    position: absolute;
    width: 55rem; height: 27rem; 
    box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2); background-color: #fff; z-index: -1;
    animation: mymove 2s; 
}

.info{
    position: absolute; top: 2.5rem; right: 3rem;
    width: 25rem; height: 20rem;
    font-size: 1rem; 
    animation: fadeIn 4s ease-in;
}

.info::before{
    content:'"';
    color:#ca0e3a; 
    font-size: 30px;
    animation: fadeIn 4s ease-in;
}
.info::after{
    content:'"';
    position: absolute; right: 0;
    color: #5c3ce0; font-size: 30px;
    animation: fadeIn 4s ease-in;
}

@keyframes mymove {
    from {left: 0;}
    to {left: 2.55rem;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 